<div class="form-popup" id="myForm">
    <form class="form-container" #f="ngForm" ngNativeValidate (ngSubmit)="createNewClient(f)">
      <h1>New Client</h1>  
      <label for="name"><b>Client Name</b></label><br>
      <input [(ngModel)]="client.Nombre" name="name" type="text" class="form-control" placeholder="Enter Client Name" required><br>  
      <label for="Description"><b>Description</b></label><br>
      <textarea [(ngModel)]="client.Descripcion" name="desc" class="form-control" rows="8" cols="30" required></textarea><br><br> 
      <label for="latitude"><b>Latitude</b></label>
      <input [(ngModel)]="client.Latitud" type="text" placeholder="Latitude" name="latitude" required> 
      <label for="longitude"><b>Longitude</b></label>
      <input [(ngModel)]="client.Longitud" type="text" placeholder="Longitude" name="longitude" required>
      <button type="submit" class="btn primary">Accept</button> 
      <button type="button" class="btn cancel" (click)="closeForm()">Close</button>
    </form>
  </div>